.status-table {
    margin-top: 15px;
    border: 1px solid #e0e0e0;
}

.status-table th, .status-table td {
    padding: 6px 10px;
}

.status-table th {
    background-image: linear-gradient(#fff, #eee);
}


.status-table tbody>tr:nth-child(even)>td{
    background-color: #f9f9f9
}